<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KullaniciUI.Properties.Settings.loginConnectionString"
            connectionString="Data Source=.;Initial Catalog=login;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="KullaniciUI.Properties.Settings.kullaniciConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=kullanici;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
